//used to change the password for LME4U
@model E_Learning_Managment_System.Models.Instructor
@{
	ViewBag.Title = "LearningMadeEasy4u";
	Layout = "~/Views/Shared/InstructorLayout.cshtml";

}
<divclass ="st-pusher well" style="overflow:scroll;" id="content">
	<!-- Checks that if password is wrong or not -->
	@if (ViewBag.wrongpassword != null)
	{
		<!-- In this container the wrong password error message will be shown -->
		<divclass ="alert alert-danger alert-dismissable fade in">
			<ahref ="#" class="close" data-dismiss="alert" aria-label="close">
				&times;</a>
				<strong>@ViewBag.wrongpassword</strong>
				@{
					ViewBag.wrongpassword = null;
				}
				</div>
			}
	<divstyle ="border: 1pxsolidsilver; margin:10px10px0px10px; padding: 30px; borderradius:4px; background-color:white;">
		<!-- Form -->
		<formaction ="/Instructor/ChangePassword" method="post">
			<divclass ="panel-body">
				<divclass ="form-group">
					<!-- current password will be entered here -->
					<divclass ="form-control-material">

						<label>Enter Current Password</label><br><br>
						<inputtype ="password" name="password" class="form-control" />
						</div>
						</div><br><br>
						<!-- submit button -->
						<inputtype ="submit" class="btn btn-primary" />
						</div>
						</form>
						</div>
						</div>
						<script>
//Form validation function
$(function () {
$("form").validate({
rules: {
password: "required"
},
messages: {
password: "Field cannot be empty !",
},
submit: function (form) {
form.submit();
}

});
});
						</script>
